/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
footer{
     background: #953B04 ;
     color:#eee ;
     font-size: 11px;
     padding: 20px;
     opacity: 0.8;
   }
footer h1{
     font-family: 'Open Sans', sans-serif;
     color: black;
     font-style: italic;
     font-weight: 700;
   }
.modal-footer{
  padding-top: 15px;
}
#moreInfo{
padding-top: 20px;
}

#culture img{
  height: 187px;
  width: 300px;
  margin-right: 20px;
}
#craft img{
  height: 187px;
  width: 300px;
  margin-right: 20px;
}
#food img{
  height: 187px;
  width: 300px;
  margin-right: 20px;
}
#eventinfo{
  padding-top: 50px;
}
#main{
margin-top: 80px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */
body{
  -webkit-font-smoothing: antialised;
   text-rendering: optimizeLegibility;
   background: white;
}
.well .page-header{
  margin-top: 0;
}
.well .page-header h1{
  margin-top: 0;
}
.panel_heading h3{
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-weight: 700;
}
ul.unstyled{
  list-style: none;
  padding: 0;
}
.book p{
  font-size: 15px;
font-weight: lighter;
}
ul.unstyled li a{
color: black;
font-weight: 600;
font-size: 12px;
}
.caption h3{
  font-weight: 700;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput{
     width: 200px;
   }
   .navbar-brand{
     padding: 0px 15px;
     font-size: 15px;
     color: black;
     font-weight: 300;
   }
   .navbar-brand img{
     padding-top: 0px;
     width: 60px;
     height: 50px;

   }
   .navbar{
     background:#953B04  ;
     opacity: 0.8;
   }



/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel .item{
  height: 600px;

}

  #slide1{
  background: url('../../images/VIK_5643.JPG') top center no-repeat  ;
  background-size: 1366px 600px;
  }
  #slide2{
    background: url('../../images/classical dance in india.jpg') top center no-repeat  ;
    background-size: 1366px 600px;
  }
  #slide3{
    background: url('../../images/mohiniyattam-wall-paper-1024x768.jpg') top center no-repeat  ;
    background-size: 1366px 600px;
  }
.carousel{
  padding-top: 50px;
}




/* --------------------------------------
   Global Styles
   -------------------------------------- */
.well{
  margin: 20px 0px;
}
.alert{
  margin-top: 20px;
  display: none;
}
.item h4{
  font-size: 40px;
  margin-bottom: 280px;
  font-weight: 700;
  color: white;
  z-index: 999;
}
.backdrop{
  background: black;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.item p{
  font-size: 30px;
}

.story img{
  width: 100%;;
  height: 100%;

}
#story1{
  padding-top: 0px;
}

.story p{
  padding-top: 50px;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
}
.thumbnails{
  margin: 20px 0;
}

.thumbnail{
  position: relative;
}
.thumbnail h3{
  font-size: 16px;
  margin: 0 0 10px;
  line-height: 20px;
}
.thumbnail .price{
  font-size: 22px;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px;
}
.thumbnail .sup{
  font-weight: normal;
  font-size: 12px;
}
.thumbnail span.glyphicon{
  margin-right: 5px;
}
.unstyled i{
  color: black;
}

/*-------------------------------------
tabbable
---------------------------------------*/




/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
